ion-list {
  padding: 0;
}

ion-chip {
  font-size: 0.8em;
}

.empty-state, .loading-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  color: var(--ion-color-medium);

  ion-icon {
    // font-size: 64px;
    // margin-bottom: 16px;
  }

  p {
    margin: 8px 0;
  }
}
